@{
    ViewData["Title"] = "Sobre nós";
}
<h1>@ViewData["Title"]</h1>

<figure class="text-center">
    <blockquote class="blockquote">
        <p>Nosso sistema de controle de cadastro visa aprimorar a experiência do usuário. Junte-se a nós!
    </blockquote>
    <figcaption class="blockquote-footer">
        John Smith in <cite title="Source Title">Times</cite>
    </figcaption>
</figure>
